:root {
    --background-home: #03045e;
    --button-background: #407bff;
    --grey-background: #f5f5f5;
}


.navbar {
    color: var(--button-background);
}

/* .gig_container {
    padding-inline: 2rem;
} */

.gig_form_content {
    padding-inline: 5rem;
    padding-top: 2rem;
    /* display: flex; */
    /* justify-content: space-around; */
}

.gig_form {
    padding-inline: 50px;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    border-radius: 2rem;
}

.form_container {
    background-color: var(--grey-background);
    border-radius: 2rem;
}

#image_display {
    width: 375px;
    height: 211px;
    border: 2px solid black;
    border-radius: 2rem;
    background-position: center;
    background-size: cover;

}

.thumbhail {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
}