:root {
    --background-home: rgb(3, 4, 94);
    --button-background: rgb(64, 123, 255);
}

.home_page {
    padding-left: 5rem;
    padding-right: 5rem;
}

.home {
    background-color: var(--background-home);
}

.logo_img {
    max-width: 18%;
    height: auto;
}

.nav-item {
    font-size: 20px;
}

.nav_bar_text {
    color: white;
    justify-content: space-between;
}

.page_content {
    display: flex;
    align-items: center;
    padding-inline: 2rem;
}

.text_part {
    width: 50%;
    padding: 2rem;
}

.big_text {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    /* width: 100%; */
    padding-right: 5rem;
    padding-bottom: 2rem
}

.small_text {
    color: white;
    font-size: 30px;
    width: fit-content;
    padding-bottom: 2rem;
}

.home_image_part {
    /* width: fit-content; */
    padding-left: 7rem;
    align-items: right;
}

.office_image {
    width: 80%;
    height: auto;
}

.btn {
    width: 9rem;
    font-size: 20px;
}