:root {
    --background-home: #03045e;
    --button-background: #407bff;
}

.home_page {
    padding-left: 2rem;
    padding-right: 2rem;
}

.home {
    background-color: var(--background-home);
}

.logo_img {
    max-width: 18%;
    height: auto;
}

.nav-item {
    font-size: 20px;
}

.nav_bar_text {
    color: white;
    justify-content: space-between;
}

.page_content {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-inline: 2rem;
}

.text_part {
    width: 50%;
    padding: 3rem;
}

.big_text {
    color: white;
    font-size: 100px;
    font-weight: bold;
    /* width: 100%; */
    padding-right: 5rem;
    padding-bottom: 2rem
}

.small_text {
    color: white;
    font-size: 20px;
    width: fit-content;
    padding-bottom: 2rem;
}

.home_image_part {
    /* width: fit-content; */
    padding-left: 1rem;
    align-items: right;
}

.office_image {
    width: 90%;
    height: auto;
}

.btn {
    width: 9rem;
    font-size: 20px;
}