:root {
    --background-home: #03045e;
    --button-background: #407bff;
}

.service_body {
    /* padding-inline: 2rem; */
}

.services_head_text {
    color: #ffff;
    font-size: 40px;
    display: grid;
    background: linear-gradient(45deg, var(--background-home), var(--button-background));
    padding: 2rem;
}

.service_card {
    margin-top: 1rem;
    margin-inline: 2rem;
    height: 180px;
    border-radius: 1.5rem;
    background-color: #f0f0f0;
}

.service_card_image {
    width: auto;
    height: 11rem;
    /* ]'rem; */
    padding: 20px;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    color: #407bff;
}

.nav-link:hover {
    color: black;
}